.phpdebugbar {
    font-family: 'Roboto', 'Fira Code', 'Consolas', sans-serif !important;
}

.phpdebugbar-text {
    color: #212121 !important;
}

dl.phpdebugbar-widgets-varlist,
dl.phpdebugbar-widgets-htmlvarlist {
    font-family: 'Fira Code', 'Consolas', sans-serif !important;
    font-size: 12px;
}
