@import '~vue-material/src/core/stylesheets/variables.scss';

$sizebar-size: 280px;

html, body {
    height: 100%;
}

[v-cloak] {
    display: none;
}

.container {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    transition: $swift-ease-out;
    @media (min-width: 1281px) {
        padding-left: $sizebar-size;
    }
}

.main-sidebar.md-sidenav {
    .md-sidenav-content {
        width: $sizebar-size;
        display: flex;
        flex-flow: column;
        overflow: hidden;
        @media (min-width: 1281px) {
            top: 0;
            pointer-events: auto;
            transform: translate3d(0, 0, 0) !important;
            box-shadow: $material-shadow-2dp;
        }
    }
}

.md-toolbar .md-title {
    flex: 1;
    @media (min-width: 1281px) {
        margin-left: 14px;
    }
}

.nav-trigger {
    @media (min-width: 1281px) {
        display: none;
    }
}

.main-header {
    z-index: 2;
    color: #fff !important;
}

.main-content {
    padding: 16px;
    flex: 1;
    overflow: auto;
    background-color: #fff;
    transform: translate3D(0, 0, 0);
    transition: $swift-ease-out;
    transition-delay: .2s;
}

.header-content {
    min-height: 100%;
    max-height: 100%;
    flex: 1;
    display: flex;
    flex-flow: column
}

@media (max-width: 960px) {
    .md-list-item .md-icon {
        margin: 5px;
    }
    .md-list-item.md-inset .md-list-item-container {
        padding-left: 16px;
    }

    .md-button {
        min-width: 0;
        padding: 0 7px;
    }
}
