body.md-theme-default, .main-content {
    background-color: #212121 !important;
    color: $white-ish !important;
    font-family: 'Roboto', 'Noto Sans CJK JP Regular' ,'Meiryo UI';
}

a {
    color: $not-yuki !important;
    text-decoration: none !important;
    &:hover {
        color: lighten($not-yuki, 10%) !important;
    }
}

.md-icon {
    color: $white-ish !important;
}

.md-list {
    & > span {
        color: $white-ish !important;
    }
}

.md-tooltip {
    height: auto;
    font-size: 13px;
    background-color: lighten($dark, 15%);
}
