$not-yuki: #ff9800;
$white-ish: #e7e7e7;
$dark: #212121;
$darker: darken($dark, 5%);

@import url("~vue-material/dist/vue-material.css");
@import 'common';
@import 'moverrides';

.header {
    font-weight: 300;
}

.muted {
    color: darken($white-ish, 20%);
}

.truncate {
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 3px;
}

.truncate-longer {
    @extend .truncate;
    max-width: 90%;
}

.button-download {
    color: $darker !important;
    &:hover {
        color: lighten($darker, 10%) !important;
    }
}

.button-download-old {
    @extend .button-download;
    background-color: darken($not-yuki, 20%) !important;
}

.img-responsive {
    max-width: 100%;
    max-height: 20px;
}

.app-icon {
    @extend .img-responsive;
    margin-right: 8px;
}

h2 {
    font-weight: 300;
}

.recently-updated {
    color: darken($not-yuki, 5%);
}
