$himekawa: #d86b0d;
$dark: #212121;
$white: #fff;

:root {
    --md-theme-default-primary-on-background: $himekawa;
    --md-theme-default-background: #252525 !important;
    --md-theme-default-accent-on-background: $himekawa;
}

@import '~vue-material/dist/vue-material.min.css';
@import '~vue-material/dist/theme/default-dark.css';
@import 'debugbar';
@import 'mixins';

body {
    font-family: 'Roboto', 'Meiryo UI', sans-serif;
}

.md-app {
    height: 100vh;
    min-height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
}

.md-tooltip {
    height: auto;
    font-size: 14px;
    background-color: lighten($dark, 15%);
    letter-spacing: 0;
    padding: 6px 9px;
}

.himekawa {
    background-color: $himekawa !important;
}

.md-toolbar {
    @extend .himekawa;
}

.s-container {
    padding: 4px 16px;
}

@include md-layout-xsmall {
    .md-list-item.md-inset .md-list-item-content {
        padding-left: 15px;
    }

    .md-button {
        min-width: 0;
        padding: 0;
        margin: 0 0 0 15px;
    }
}

@include md-layout-small {
    .md-list-item-text :nth-child(3) {
        color: #bbbbbb;
    }
}

.muted {
    // CR: 8.45, AA: 4.5
    color: #bbbbbb;
}

.tags {
    padding: 3px 3px;
    border-radius: 1px;
    background-color: rgb(125, 119, 123);
    margin-right: 8px;
    border-color: transparent;
    min-width: 60px;
    text-align: center;

    &.latest {
        background-color: darken($himekawa, 5%);
    }
}

.truncated {
    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.md-avatar > img {
    border-radius: 0;
}

a:not(.md-button) {
    text-decoration: none !important;
    &:hover {
        color: lighten($himekawa, 10%) !important;
    }
}
